$yellow: #e7c673;
$blue: #005bbb;
$dark: #03131e;
$gray: #707070;
$black: #06131d;

$ukrainianFlag1: linear-gradient(
  rgba($blue, 0.15) 50%,
  rgba($yellow, 0.15) 50%
);
$ukrainianFlag2: linear-gradient(rgba($blue, 0.5) 50%, rgba($yellow, 0.5) 50%);
