@font-face {
  font-family: Avenir Next;
  src: url("~assets/fonts/Avenir-next.otf") format("opentype");
}

@font-face {
  font-family: Avenir Next;
  src: url("~assets/fonts/Avenir-next-bold.otf") format("opentype");
  font-weight: bold;
}
